dist/about.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>О компании</title>
  <link href="main.css" rel="stylesheet"></head>
  <body>
    <div class="wrap">
      <div class="wrap-content">
        <header class="header header_inner">
          <div class="header-wrap"><a class="header__back icon-arrow-left" href="javascript:void(0);"></a>
            <div class="header__title">О компании</div><a class="header__tel" href="tel:+79999999999"><i class="icon-tel"></i></a>
          </div>
        </header>
        <div class="content container">
          <main class="about-page mt">
            <div class="d-flex align-items-center mb"><img src="./images/map-icon.png" alt="">
              <h1 class="ml">О компании</h1>
            </div>
            <p>
               Служба доставки “Суши-Тайм” работает с 2008 года в городе Южно-Сахалинск. Это единственная 
              компания,которая на протяжении 11 лет держит лидирующие позиции на постоянно развивающемся 
              и усложняющемся рынке доставки еды на Сахалине.
            </p>
            <p>
               За все время работы было выполнено более 200000 заказов, наши водители суммарно проехали 20 раз 
              вокруг Земли. Также наши суши и роллы летали в Хабаровск, Владивосток и на Курилы.
            </p>
            <p>
               В 2015 году мы открыли филиал в г. Хабаровск. В конце 2019 года в результате полного ребрендинга 
              компании название “Суши-Тайм” изменено на новое - служба доставки “Рис и Море”.
            </p>
          </main>
        </div>
      </div>
      <nav class="navbar">
        <ul>
          <li class="active"><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-menu"></i><span>Меню</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-account"></i><span>Профиль</span></a></li>
          <li class="gift"><a class="waves-effect waves-gray" href="javascript:void(0);" data-modal-open="gifts"><i class="icon-svg-gift"></i><span>Подарок</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-map"></i><span>Контакты</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-shop"><sup>1</sup></i><span>Корзина</span></a></li>
        </ul>
      </nav>
            <div class="modal" id="modal-gifts" data-title="Выберите подарок">
              <div class="add-gift-list mt-sm" data-simplebar data-simplebar-auto-hide="false" data-simplebar-force-visible="y">
                <div class="col-2 mb-xl">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-1"><img src="../../images/gifts/1.png">
                              <input type="radio" id="gift-1" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 1000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-2"><img src="../../images/gifts/2.png">
                              <input type="radio" id="gift-2" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 1500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
                <div class="col-2 mb-xl">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-3"><img src="../../images/gifts/3.png">
                              <input type="radio" id="gift-3" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 2000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-4"><img src="../../images/gifts/4.png">
                              <input type="radio" id="gift-4" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 2500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
                <div class="col-2">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-5"><img src="../../images/gifts/5.png">
                              <input type="radio" id="gift-5" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 3000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-6"><img src="../../images/gifts/6.png">
                              <input type="radio" id="gift-6" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 3500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
  <script type="text/javascript" src="bundle.js"></script></body>
</html>

src/about.pug
include mixins/header-inner.pug

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title О компании
	body
		.wrap
			.wrap-content
				+header-inner('О компании')

				.content.container
					main.about-page.mt
						.d-flex.align-items-center.mb
							img(src="./images/map-icon.png" alt="")
							h1.ml О компании
						p 
							| Служба доставки “Суши-Тайм” работает с 2008 года в городе Южно-Сахалинск. Это единственная 
							| компания,которая на протяжении 11 лет держит лидирующие позиции на постоянно развивающемся 
							| и усложняющемся рынке доставки еды на Сахалине.
						p 
							| За все время работы было выполнено более 200000 заказов, наши водители суммарно проехали 20 раз 
							| вокруг Земли. Также наши суши и роллы летали в Хабаровск, Владивосток и на Курилы.
						p 
							| В 2015 году мы открыли филиал в г. Хабаровск. В конце 2019 года в результате полного ребрендинга 
							| компании название “Суши-Тайм” изменено на новое - служба доставки “Рис и Море”.

			include includes/navbar.pug
