dist/all-modals.html
<!DOCTYPE html><!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Все модальные окна</title>
  <link href="main.css" rel="stylesheet"></head>
  <body>
    <div class="wrap">
      <div class="wrap-content">
<header class="header">
  <div class="header-wrap"><img class="header__logo" src="./images/logo.svg"><a class="header__select-city" href="javascript:void(0);">Южно-Сахалинск</a><a class="header__tel" href="tel:+79999999999"> <i class="icon-tel"></i></a></div>
</header>
        <div class="content container">
          <main class="main-page my-xl">
            <button class="btn waves-effect waves-light full-width mt" data-modal-open="not-delivery">Доставка не доступна</button>
            <button class="btn waves-effect waves-light full-width mt" data-modal-open="min-sum">Минимальная сумма заказа</button>
            <button class="btn waves-effect waves-light full-width mt" data-modal-open="add-spices">Выбрать специи</button>
            <button class="btn waves-effect waves-light full-width mt" data-modal-open="gift-added">Подарок добавлен</button>
            <button class="btn waves-effect waves-light full-width mt" data-modal-open="gifts">Выбрать подарок</button>
          </main>
        </div>
      </div>
      <nav class="navbar">
        <ul>
          <li class="active"><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-menu"></i><span>Меню</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-account"></i><span>Профиль</span></a></li>
          <li class="gift"><a class="waves-effect waves-gray" href="javascript:void(0);" data-modal-open="gifts"><i class="icon-svg-gift"></i><span>Подарок</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-map"></i><span>Контакты</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-shop"><sup>1</sup></i><span>Корзина</span></a></li>
        </ul>
      </nav>
            <div class="modal" id="modal-gifts" data-title="Выберите подарок">
              <div class="add-gift-list mt-sm" data-simplebar data-simplebar-auto-hide="false" data-simplebar-force-visible="y">
                <div class="col-2 mb-xl">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-1"><img src="../../images/gifts/1.png">
                              <input type="radio" id="gift-1" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 1000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-2"><img src="../../images/gifts/2.png">
                              <input type="radio" id="gift-2" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 1500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
                <div class="col-2 mb-xl">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-3"><img src="../../images/gifts/3.png">
                              <input type="radio" id="gift-3" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 2000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-4"><img src="../../images/gifts/4.png">
                              <input type="radio" id="gift-4" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 2500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
                <div class="col-2">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-5"><img src="../../images/gifts/5.png">
                              <input type="radio" id="gift-5" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 3000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-6"><img src="../../images/gifts/6.png">
                              <input type="radio" id="gift-6" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 3500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
        <div class="modal" id="modal-not-delivery"><img src="../../images/compas.svg">
          <div class="title mt-lg">Мы пока не доставляем <br>по данному адресу</div>
          <p class="mt-xs">Сообщить когда доставка расширится?</p>
          <button class="btn btn_size_lg waves-effect waves-light full-width mt-xl">Сообщить</button>
        </div>
        <div class="modal" id="modal-min-sum"><img src="../../images/min-sum.svg">
          <div class="title mt-lg">Доставка по адресу</div>
          <div class="h1 mt-xs">от 1000 руб.</div>
          <p class="mt-xs">Дополните заказ<br>или выберете самовывоз</p><a class="btn btn_size_lg waves-effect waves-light full-width mt-xl" href="javascript:void(0);">Смотреть меню</a><a class="btn btn_size_lg btn_outline waves-effect waves-blue full-width mt-sm" href="javascript:void(0);">Смотреть зону доставки</a>
        </div>
        <div class="modal" id="modal-add-spices" data-title="Забыли добавить специи" data-subtitle="Специи оплачиваются отдельно.">
              <div class="spices">
                <div class="spices__title">
                  <h6>Васаби, соевый соус, имбирь (140г)</h6><span>Бесплатно 1 шт.</span>
                </div>
                <div class="spices__price">60 ₽</div>
                <button class="btn btn_size_sm spices__add-cart waves-effect waves-light">В корзину</button>
                    <div class="form-item__type_number  form-item__number-field-count">
                      <button class="btn__remove waves-effect waves-orange"><i class="icon-remove"></i></button>
                      <input type="text" name="count" value="1" readonly>
                      <button class="btn__add waves-effect waves-light"><i class="icon-add"></i></button>
                    </div>
              </div>
              <div class="spices">
                <div class="spices__title">
                  <h6>Соус соевый (100г)</h6><span>Бесплатно 1 шт.</span>
                </div>
                <div class="spices__price">10 ₽</div>
                <button class="btn btn_size_sm spices__add-cart waves-effect waves-light">В корзину</button>
                    <div class="form-item__type_number  form-item__number-field-count">
                      <button class="btn__remove waves-effect waves-orange"><i class="icon-remove"></i></button>
                      <input type="text" name="count" value="1" readonly>
                      <button class="btn__add waves-effect waves-light"><i class="icon-add"></i></button>
                    </div>
              </div>
              <div class="spices">
                <div class="spices__title">
                  <h6>Имбирь (30г)</h6><span>Бесплатно 1 шт.</span>
                </div>
                <div class="spices__price">25 ₽</div>
                <button class="btn btn_size_sm spices__add-cart waves-effect waves-light">В корзину</button>
                    <div class="form-item__type_number  form-item__number-field-count">
                      <button class="btn__remove waves-effect waves-orange"><i class="icon-remove"></i></button>
                      <input type="text" name="count" value="1" readonly>
                      <button class="btn__add waves-effect waves-light"><i class="icon-add"></i></button>
                    </div>
              </div>
              <div class="spices">
                <div class="spices__title">
                  <h6>Васаби (10г)</h6><span>Бесплатно 1 шт.</span>
                </div>
                <div class="spices__price">10 ₽</div>
                <button class="btn btn_size_sm spices__add-cart waves-effect waves-light">В корзину</button>
                    <div class="form-item__type_number  form-item__number-field-count">
                      <button class="btn__remove waves-effect waves-orange"><i class="icon-remove"></i></button>
                      <input type="text" name="count" value="1" readonly>
                      <button class="btn__add waves-effect waves-light"><i class="icon-add"></i></button>
                    </div>
              </div>
          <button class="btn full-width btn_size_lg waves-effect waves-light mt-sm">Продолжить оформление</button>
        </div>
        <div class="modal" id="modal-gift-added"><img src="./../../images/treasure.png">
          <p class="mt-xs">Бесплатный подарок добавлен в корзину</p>
          <button class="btn full-width btn_size_lg mt-lg waves-effect waves-light">Продолжить</button>
        </div>
  <script type="text/javascript" src="bundle.js"></script></body>
</html>

src/all-modals.pug
<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Все модальные окна
	body
		.wrap
			.wrap-content
				include includes/header.pug
				.content.container
					main.main-page.my-xl

						button.btn.waves-effect.waves-light.full-width.mt(data-modal-open="not-delivery") Доставка не доступна
						button.btn.waves-effect.waves-light.full-width.mt(data-modal-open="min-sum") Минимальная сумма заказа
						button.btn.waves-effect.waves-light.full-width.mt(data-modal-open="add-spices") Выбрать специи
						button.btn.waves-effect.waves-light.full-width.mt(data-modal-open="gift-added") Подарок добавлен
						button.btn.waves-effect.waves-light.full-width.mt(data-modal-open="gifts") Выбрать подарок

			include includes/navbar.pug

		include includes/modals/modal-not-delivery.pug
		include includes/modals/modal-min-sum.pug
		include includes/modals/modal-add-spices.pug
		include includes/modals/modal-gift-added.pug
