src/basket.pug
include mixins/spices.pug
include mixins/basket-product.pug
include mixins/form/radio.pug
include mixins/form/text-field.pug

- var products = [
- 	{ id: 1, img: './images/products/1.png', name: 'Филадельфия лайт с тобико', price: 390, amount: 25 },
- 	{ id: 2, img: './images/products/2.png', name: 'Филадельфия лайт с тобико', price: 390, amount: 25 },
- 	{ id: 3, img: './images/products/3.png', name: 'Филадельфия лайт с тобико', price: 390, amount: 25 },
- 	{ id: 4, img: './images/products/4.png', name: 'Филадельфия лайт с тобико', price: 390, amount: 25 },
- ];
- var extraProducts = [
-		{title: 'Васаби, соевый соус, имбирь (140г)', price: 60},
-		{title: 'Соус соевый (100г)', price: 10},
-		{title: 'Имбирь (30г)', price: 25},
-		{title: 'Васаби (10г)', price: 10},
-];

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Корзина
	body
		.wrap
			.wrap-content
				include includes/header.pug

				.content.container
					main.basket-page.mt
						.basket-list
							each product in products
								+basket-product(product)

						.basket-spices.mt-xl
							each extraProduct in extraProducts
								+spices(extraProduct)

						.basket-gift.mt-xl
							p.mb Выберите свой подарок
							+radio('gift-1', 'gift', 'Цезарь ролл подарок от 1000 руб.', true)
							+radio('gift-2', 'gift', 'Реддо подарок от 1500 руб.')
							+radio('gift-3', 'gift', 'Цезарь темпура подарок от 1500 руб.')
							+radio('gift-4', 'gift', 'Филадельфия биг подарок от 3000 руб.')

						.backet-promocode.mt-xl.mb-sm
							p.mb Введите промокод
							.col-2.align-items-flex-start
								+text-field('promocode', 'Промокод', true, true, '', 'Описание для промокода')
								button.btn.btn_outline.btn_size_lg.waves-effect.waves-blue Применить

						.backet-total.bottom-action-block
							.backet-total__sum.mb-sm
								span Итоговая сумма
								strong 9 999 ₽
							button.btn.btn_size_lg.waves-effect.waves-light.full-width Оформить заказ

			include includes/navbar.pug

dist/basket.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Корзина</title>
  <link href="main.css" rel="stylesheet"></head>
  <body>
    <div class="wrap">
      <div class="wrap-content">
<header class="header">
  <div class="header-wrap"><img class="header__logo" src="./images/logo.svg"><a class="header__select-city" href="javascript:void(0);">Южно-Сахалинск</a><a class="header__tel" href="tel:+79999999999"> <i class="icon-tel"></i></a></div>
</header>
        <div class="content container">
          <main class="basket-page mt">
            <div class="basket-list">
              <div class="basket-product"><a class="basket-product__img" href="javascript:void(0);"><img src="./images/products/1.png" alt="Филадельфия лайт с тобико"></a>
                <div class="basket-product-content"><a class="basket-product__title" href="javascript:void(0);">Филадельфия лайт с тобико</a>
                  <div class="basket-product-footer">
                    <div class="basket-product__price">390 ₽</div>
                    <div class="form-item__type_number basket-product__count form-item__number-field-basket-product-count-1">
                      <button class="btn__remove waves-effect waves-orange"><i class="icon-remove"></i></button>
                      <input type="text" name="basket-product-count-1" value="25" readonly>
                      <button class="btn__add waves-effect waves-light"><i class="icon-add"></i></button>
                    </div>
                  </div>
                </div><a class="basket-product__remove icon-close" href="javascript:void(0);"></a>
              </div>
              <div class="basket-product"><a class="basket-product__img" href="javascript:void(0);"><img src="./images/products/2.png" alt="Филадельфия лайт с тобико"></a>
                <div class="basket-product-content"><a class="basket-product__title" href="javascript:void(0);">Филадельфия лайт с тобико</a>
                  <div class="basket-product-footer">
                    <div class="basket-product__price">390 ₽</div>
                    <div class="form-item__type_number basket-product__count form-item__number-field-basket-product-count-2">
                      <button class="btn__remove waves-effect waves-orange"><i class="icon-remove"></i></button>
                      <input type="text" name="basket-product-count-2" value="25" readonly>
                      <button class="btn__add waves-effect waves-light"><i class="icon-add"></i></button>
                    </div>
                  </div>
                </div><a class="basket-product__remove icon-close" href="javascript:void(0);"></a>
              </div>
              <div class="basket-product"><a class="basket-product__img" href="javascript:void(0);"><img src="./images/products/3.png" alt="Филадельфия лайт с тобико"></a>
                <div class="basket-product-content"><a class="basket-product__title" href="javascript:void(0);">Филадельфия лайт с тобико</a>
                  <div class="basket-product-footer">
                    <div class="basket-product__price">390 ₽</div>
                    <div class="form-item__type_number basket-product__count form-item__number-field-basket-product-count-3">
                      <button class="btn__remove waves-effect waves-orange"><i class="icon-remove"></i></button>
                      <input type="text" name="basket-product-count-3" value="25" readonly>
                      <button class="btn__add waves-effect waves-light"><i class="icon-add"></i></button>
                    </div>
                  </div>
                </div><a class="basket-product__remove icon-close" href="javascript:void(0);"></a>
              </div>
              <div class="basket-product"><a class="basket-product__img" href="javascript:void(0);"><img src="./images/products/4.png" alt="Филадельфия лайт с тобико"></a>
                <div class="basket-product-content"><a class="basket-product__title" href="javascript:void(0);">Филадельфия лайт с тобико</a>
                  <div class="basket-product-footer">
                    <div class="basket-product__price">390 ₽</div>
                    <div class="form-item__type_number basket-product__count form-item__number-field-basket-product-count-4">
                      <button class="btn__remove waves-effect waves-orange"><i class="icon-remove"></i></button>
                      <input type="text" name="basket-product-count-4" value="25" readonly>
                      <button class="btn__add waves-effect waves-light"><i class="icon-add"></i></button>
                    </div>
                  </div>
                </div><a class="basket-product__remove icon-close" href="javascript:void(0);"></a>
              </div>
            </div>
            <div class="basket-spices mt-xl">
              <div class="spices">
                <div class="spices__title">
                  <h6>Васаби, соевый соус, имбирь (140г)</h6><span>Бесплатно 1 шт.</span>
                </div>
                <div class="spices__price">60 ₽</div>
                <button class="btn btn_size_sm spices__add-cart waves-effect waves-light">В корзину</button>
                <div class="form-item__type_number  form-item__number-field-count">
                  <button class="btn__remove waves-effect waves-orange"><i class="icon-remove"></i></button>
                  <input type="text" name="count" value="1" readonly>
                  <button class="btn__add waves-effect waves-light"><i class="icon-add"></i></button>
                </div>
              </div>
              <div class="spices">
                <div class="spices__title">
                  <h6>Соус соевый (100г)</h6><span>Бесплатно 1 шт.</span>
                </div>
                <div class="spices__price">10 ₽</div>
                <button class="btn btn_size_sm spices__add-cart waves-effect waves-light">В корзину</button>
                <div class="form-item__type_number  form-item__number-field-count">
                  <button class="btn__remove waves-effect waves-orange"><i class="icon-remove"></i></button>
                  <input type="text" name="count" value="1" readonly>
                  <button class="btn__add waves-effect waves-light"><i class="icon-add"></i></button>
                </div>
              </div>
              <div class="spices">
                <div class="spices__title">
                  <h6>Имбирь (30г)</h6><span>Бесплатно 1 шт.</span>
                </div>
                <div class="spices__price">25 ₽</div>
                <button class="btn btn_size_sm spices__add-cart waves-effect waves-light">В корзину</button>
                <div class="form-item__type_number  form-item__number-field-count">
                  <button class="btn__remove waves-effect waves-orange"><i class="icon-remove"></i></button>
                  <input type="text" name="count" value="1" readonly>
                  <button class="btn__add waves-effect waves-light"><i class="icon-add"></i></button>
                </div>
              </div>
              <div class="spices">
                <div class="spices__title">
                  <h6>Васаби (10г)</h6><span>Бесплатно 1 шт.</span>
                </div>
                <div class="spices__price">10 ₽</div>
                <button class="btn btn_size_sm spices__add-cart waves-effect waves-light">В корзину</button>
                <div class="form-item__type_number  form-item__number-field-count">
                  <button class="btn__remove waves-effect waves-orange"><i class="icon-remove"></i></button>
                  <input type="text" name="count" value="1" readonly>
                  <button class="btn__add waves-effect waves-light"><i class="icon-add"></i></button>
                </div>
              </div>
            </div>
            <div class="basket-gift mt-xl">
              <p class="mb">Выберите свой подарок</p>
              <div class="form-item__radio  form-item__radio-gift">
                <label for="gift-1">
                  <input type="radio" id="gift-1" name="gift" checked>
                  <div><span></span>
                    <p>Цезарь ролл подарок от 1000 руб.</p>
                  </div>
                </label>
              </div>
              <div class="form-item__radio  form-item__radio-gift">
                <label for="gift-2">
                  <input type="radio" id="gift-2" name="gift">
                  <div><span></span>
                    <p>Реддо подарок от 1500 руб.</p>
                  </div>
                </label>
              </div>
              <div class="form-item__radio  form-item__radio-gift">
                <label for="gift-3">
                  <input type="radio" id="gift-3" name="gift">
                  <div><span></span>
                    <p>Цезарь темпура подарок от 1500 руб.</p>
                  </div>
                </label>
              </div>
              <div class="form-item__radio  form-item__radio-gift">
                <label for="gift-4">
                  <input type="radio" id="gift-4" name="gift">
                  <div><span></span>
                    <p>Филадельфия биг подарок от 3000 руб.</p>
                  </div>
                </label>
              </div>
            </div>
            <div class="backet-promocode mt-xl mb-sm">
              <p class="mb">Введите промокод</p>
              <div class="col-2 align-items-flex-start">
                <div class="form-item__text-field  form-item form-item__text-field-promocode">
                  <input id="promocode" type="text" name="promocode" placeholder="">
                  <label for="promocode">Промокод</label>
                  <div class="form-item__message">Описание для промокода</div>
                  <button class="clear icon-close" type="button"></button>
                </div>
                <button class="btn btn_outline btn_size_lg waves-effect waves-blue">Применить</button>
              </div>
            </div>
            <div class="backet-total bottom-action-block">
              <div class="backet-total__sum mb-sm"><span>Итоговая сумма</span><strong>9 999 ₽</strong></div>
              <button class="btn btn_size_lg waves-effect waves-light full-width">Оформить заказ</button>
            </div>
          </main>
        </div>
      </div>
      <nav class="navbar">
        <ul>
          <li class="active"><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-menu"></i><span>Меню</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-account"></i><span>Профиль</span></a></li>
          <li class="gift"><a class="waves-effect waves-gray" href="javascript:void(0);" data-modal-open="gifts"><i class="icon-svg-gift"></i><span>Подарок</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-map"></i><span>Контакты</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-shop"><sup>1</sup></i><span>Корзина</span></a></li>
        </ul>
      </nav>
            <div class="modal" id="modal-gifts" data-title="Выберите подарок">
              <div class="add-gift-list mt-sm" data-simplebar data-simplebar-auto-hide="false" data-simplebar-force-visible="y">
                <div class="col-2 mb-xl">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-1"><img src="../../images/gifts/1.png">
                              <input type="radio" id="gift-1" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 1000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-2"><img src="../../images/gifts/2.png">
                              <input type="radio" id="gift-2" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 1500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
                <div class="col-2 mb-xl">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-3"><img src="../../images/gifts/3.png">
                              <input type="radio" id="gift-3" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 2000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-4"><img src="../../images/gifts/4.png">
                              <input type="radio" id="gift-4" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 2500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
                <div class="col-2">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-5"><img src="../../images/gifts/5.png">
                              <input type="radio" id="gift-5" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 3000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-6"><img src="../../images/gifts/6.png">
                              <input type="radio" id="gift-6" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 3500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
  <script type="text/javascript" src="bundle.js"></script></body>
</html>
