dist/bonus.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Бонусы</title>
  <link href="main.css" rel="stylesheet"></head>
  <body>
    <div class="wrap">
      <div class="wrap-content">
        <header class="header header_inner">
          <div class="header-wrap"><a class="header__back icon-arrow-left" href="javascript:void(0);"></a>
            <div class="header__title">Бонусы</div><a class="header__tel" href="tel:+79999999999"><i class="icon-tel"></i></a>
          </div>
        </header>
        <div class="content container">
          <main class="bonus-page mt-lg">
            <div class="bonus-balance">
              <div class="bonus-balance__title"><img src="./images/coin.png">
                <div class="title ml-sm">Баланс бонусов</div>
              </div><span>1249</span>
            </div>
            <div class="bonus-table mt-lg pb-sm" data-simplebar data-simplebar-auto-hide="false">
              <table>
                <thead>
                  <tr>
                    <th>Количество</th>
                    <th>Операция</th>
                    <th>Номер заказа</th>
                    <th>Дата покупки</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="t_color_green">+120</td>
                    <td>Зачислено</td>
                    <td>459128</td>
                    <td>08.08.2019</td>
                  </tr>
                  <tr>
                    <td class="t_color_green">+230</td>
                    <td>Зачислено</td>
                    <td>459128</td>
                    <td>10.08.2019</td>
                  </tr>
                  <tr>
                    <td class="t_color_red">-50</td>
                    <td>Списано</td>
                    <td>333568</td>
                    <td>16.08.2019</td>
                  </tr>
                  <tr>
                    <td class="t_color_green">+385</td>
                    <td>Зачислено</td>
                    <td>459128</td>
                    <td>20.08.2019</td>
                  </tr>
                  <tr>
                    <td class="t_color_green">+450</td>
                    <td>Зачислено</td>
                    <td>167999</td>
                    <td>23.08.2019</td>
                  </tr>
                  <tr>
                    <td class="t_color_red">-1250</td>
                    <td>Списано</td>
                    <td>459128</td>
                    <td>30.08.2019</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </main>
        </div>
      </div>
      <nav class="navbar">
        <ul>
          <li class="active"><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-menu"></i><span>Меню</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-account"></i><span>Профиль</span></a></li>
          <li class="gift"><a class="waves-effect waves-gray" href="javascript:void(0);" data-modal-open="gifts"><i class="icon-svg-gift"></i><span>Подарок</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-map"></i><span>Контакты</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-shop"><sup>1</sup></i><span>Корзина</span></a></li>
        </ul>
      </nav>
            <div class="modal" id="modal-gifts" data-title="Выберите подарок">
              <div class="add-gift-list mt-sm" data-simplebar data-simplebar-auto-hide="false" data-simplebar-force-visible="y">
                <div class="col-2 mb-xl">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-1"><img src="../../images/gifts/1.png">
                              <input type="radio" id="gift-1" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 1000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-2"><img src="../../images/gifts/2.png">
                              <input type="radio" id="gift-2" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 1500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
                <div class="col-2 mb-xl">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-3"><img src="../../images/gifts/3.png">
                              <input type="radio" id="gift-3" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 2000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-4"><img src="../../images/gifts/4.png">
                              <input type="radio" id="gift-4" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 2500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
                <div class="col-2">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-5"><img src="../../images/gifts/5.png">
                              <input type="radio" id="gift-5" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 3000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-6"><img src="../../images/gifts/6.png">
                              <input type="radio" id="gift-6" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 3500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
  <script type="text/javascript" src="bundle.js"></script></body>
</html>

src/bonus.pug
include mixins/header-inner.pug
include mixins/table.pug
- var tableHeader = [
-		{ title: 'Количество'		},
-		{ title: 'Операция'			},
-		{ title: 'Номер заказа'	},
-		{ title: 'Дата покупки'	}
-];
- var tableData = [
-		[{ value: '+120', extraClass: 't_color_green' }, { value: 'Зачислено' }, { value: 459128 }, { value: '08.08.2019' }],
-		[{ value: '+230', extraClass: 't_color_green' }, { value: 'Зачислено' }, { value: 459128 }, { value: '10.08.2019' }],
-		[{ value: '-50', extraClass: 't_color_red' }, { value: 'Списано' }, { value: 333568 }, { value: '16.08.2019' }],
-		[{ value: '+385', extraClass: 't_color_green' }, { value: 'Зачислено' }, { value: 459128 }, { value: '20.08.2019' }],
-		[{ value: '+450', extraClass: 't_color_green' }, { value: 'Зачислено' }, { value: 167999 }, { value: '23.08.2019' }],
-		[{ value: '-1250', extraClass: 't_color_red' }, { value: 'Списано' }, { value: 459128 }, { value: '30.08.2019' }]
-];

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Бонусы
	body
		.wrap
			.wrap-content
				+header-inner('Бонусы')

				.content.container
					main.bonus-page.mt-lg
						.bonus-balance
							.bonus-balance__title
								img(src="./images/coin.png")
								.title.ml-sm Баланс бонусов
							span 1249
						.bonus-table.mt-lg.pb-sm(data-simplebar data-simplebar-auto-hide="false")
							+table(tableHeader, tableData)

			include includes/navbar.pug
