src/checkout.pug
include mixins/header-inner.pug
include mixins/form/radio.pug
include mixins/form/text-field.pug
include mixins/form/select.pug
include mixins/form/textarea.pug
include mixins/form/number-field.pug

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Оформление заказа
	body
		.wrap
			.wrap-content
				+header-inner('Оформление заказа')

				.content.container
					main.checkout-page.mt-lg
						.checkout-total-sum.mb-lg
							span Итоговая сумма
							strong 9 999 ₽

						.checkout-types
							.tabs(role="tabs")
								.tabs-list.col_2
									a.tabs-list__item(role="tab" href="#delivery" aria-selected="true") Доставка
									a.tabs-list__item(role="tab" href="#pickup" aria-selected="false") Самовывоз
									.tabs-list__background
								.tabs-content
									.tabs-content__element(data-tab-type="delivery" aria-hidden="false")
										include includes/checkout-delivery.pug
									.tabs-content__element(data-tab-type="pickup" aria-hidden="true")
										include includes/checkout-pickup.pug

						hr.mx-

						.checkout-client
							+text-field('name', 'Имя', true, true)
							+text-field('tel', 'Номер телефона', true, true)
							+select('time-delivery', ['Время доставки', '9:00', '9:30', '10:00', '10:30', '11:00', '11:30', '12:00', '12:30', '...'], true)
							+textarea('comment', 'Комментарий')

						hr.mx-

						.checkout-count-persones
							span
								i.icon-profile
								| Количество персон
							+number-field('persons', false, false, '', 2)

						hr.mx-

						.checkout-bonus
							h2 Бонусный счёт
							.col-2 
								+text-field('bonus', '', true, true, '', '', 'до 250')
								.font-item
									button.btn.btn_size_lg.waves-effect.waves-light.full-width Списать
							p Бонусами вы можете оплачивать до 30% от стоимости заказа

						hr.mx-

						.checkout-payment
							h2 Способ оплаты
							+radio('payment-1', 'payment', 'Курьеру наличными', true)
							+radio('payment-2', 'payment', 'Оплатить сейчас банковской картой')
							+radio('payment-3', 'payment', 'Курьеру банковской картой')


						hr.mx-
						.checkout-agree-order
							h2.mb Подтверждение заказа
							.tabs(role="tabs")
								.tabs-list.col_2
									a.tabs-list__item(role="tab" href="#sms" aria-selected="true") SMS
									a.tabs-list__item(role="tab" href="#call-operator" aria-selected="false") Звонок оператора
									.tabs-list__background
								.tabs-content
									.tabs-content__element(data-tab-type="sms" aria-hidden="false")
										.col-2
											+text-field('code', 'Код', true, true)
											.form-item
												button.btn.btn_size_lg.waves-effect.waves-light.full-width Получить код
									.tabs-content__element(data-tab-type="call-operator" aria-hidden="true")

						.checkout-submit.bottom-action-block
							.checkout-total-sum.mb-sm
								span Итоговая сумма
								strong 9 999 ₽
							button.btn.btn_size_lg.waves-effect.waves-light.full-width(data-modal-open="add-spices") Оформить заказ

			include includes/navbar.pug

		include includes/modals/modal-add-spices.pug
		include includes/modals/modal-gift-added.pug

dist/checkout.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Оформление заказа</title>
  <link href="main.css" rel="stylesheet"></head>
  <body>
    <div class="wrap">
      <div class="wrap-content">
        <header class="header header_inner">
          <div class="header-wrap"><a class="header__back icon-arrow-left" href="javascript:void(0);"></a>
            <div class="header__title">Оформление заказа</div><a class="header__tel" href="tel:+79999999999"><i class="icon-tel"></i></a>
          </div>
        </header>
        <div class="content container">
          <main class="checkout-page mt-lg">
            <div class="checkout-total-sum mb-lg"><span>Итоговая сумма</span><strong>9 999 ₽</strong></div>
            <div class="checkout-types">
              <div class="tabs" role="tabs">
                <div class="tabs-list col_2"><a class="tabs-list__item" role="tab" href="#delivery" aria-selected="true">Доставка</a><a class="tabs-list__item" role="tab" href="#pickup" aria-selected="false">Самовывоз</a>
                  <div class="tabs-list__background"></div>
                </div>
                <div class="tabs-content">
                  <div class="tabs-content__element" data-tab-type="delivery" aria-hidden="false">
                    <div class="checkout-delivery">
                                          <div class="form-item__radio  form-item__radio-address">
                                            <label for="address-1">
                                              <input type="radio" id="address-1" name="address">
                                              <div><span></span>
                                                <p>Дом, Южно-Сахалинск, ул. Капитанская д. 65 кв 98 под. 5 эт. 6</p>
                                              </div>
                                            </label>
                                          </div>
                                          <div class="form-item__radio  form-item__radio-address">
                                            <label for="address-2">
                                              <input type="radio" id="address-2" name="address" checked>
                                              <div><span></span>
                                                <p>Другой адрес</p>
                                              </div>
                                            </label>
                                          </div>
                                          <div class="form-item__select mt-lg form-item form-item__select-city">
                                            <select id="city" name="city">
                                              <option value="0">Город</option>
                                              <option value="1">Хабаровск</option>
                                              <option value="2">Южно-Сахалинск</option>
                                            </select>
                                          </div>
                                          <div class="form-item__text-field  form-item form-item__text-field-street">
                                            <input id="street" type="text" name="street" placeholder="">
                                            <label for="street">Улица</label>
                                            <button class="clear icon-close" type="button"></button>
                                          </div>
                      <div class="col-2">
                                            <div class="form-item__text-field  form-item form-item__text-field-house">
                                              <input id="house" type="text" name="house" placeholder="">
                                              <label for="house">Дом, корпус</label>
                                              <button class="clear icon-close" type="button"></button>
                                            </div>
                                            <div class="form-item__text-field  form-item form-item__text-field-apartment">
                                              <input id="apartment" type="text" name="apartment" placeholder="">
                                              <label for="apartment">Квартира</label>
                                              <button class="clear icon-close" type="button"></button>
                                            </div>
                      </div>
                      <div class="col-2">
                                            <div class="form-item__text-field  form-item form-item__text-field-porch">
                                              <input id="porch" type="text" name="porch" placeholder="">
                                              <label for="porch">Подъезд</label>
                                              <button class="clear icon-close" type="button"></button>
                                            </div>
                                            <div class="form-item__text-field  form-item form-item__text-field-floor">
                                              <input id="floor" type="text" name="floor" placeholder="">
                                              <label for="floor">Этаж</label>
                                              <button class="clear icon-close" type="button"></button>
                                            </div>
                      </div>
                      <div class="d-flex justify-content-space-between" style="margin: -2px 0 -4px 0;">
                        <p>Частный дом</p>
                                            <div class="form-item__switch  form-item__switch-private-house">
                                              <label for="private-house">
                                                <input type="checkbox" id="private-house" name="private-house"><span></span>
                                              </label>
                                            </div>
                      </div>
                                          <div class="form-item__textarea mt-lg form-item__textarea-comment-address">
                                            <textarea id="comment-address" name="comment-address"></textarea>
                                            <label for="comment-address">Комментарий к адресу</label>
                                          </div>
                    </div>
                  </div>
                  <div class="tabs-content__element" data-tab-type="pickup" aria-hidden="true">
                    <div class="checkout-pickup">
                                          <div class="form-item__radio  form-item__radio-address-pickup">
                                            <label for="address-pickup-1">
                                              <input type="radio" id="address-pickup-1" name="address-pickup">
                                              <div><span></span>
                                                <p>ул. Капитанская д. 65</p>
                                              </div>
                                            </label>
                                          </div>
                                          <div class="form-item__radio  form-item__radio-address-pickup">
                                            <label for="address-pickup-2">
                                              <input type="radio" id="address-pickup-2" name="address-pickup" checked>
                                              <div><span></span>
                                                <p>ул. Навигационая д. 32</p>
                                              </div>
                                            </label>
                                          </div>
                      <button class="btn btn_size_lg waves-effect waves-light mt-lg full-width">Показать на карте</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="mx-">
            <div class="checkout-client">
                                  <div class="form-item__text-field  form-item form-item__text-field-name">
                                    <input id="name" type="text" name="name" placeholder="">
                                    <label for="name">Имя</label>
                                    <button class="clear icon-close" type="button"></button>
                                  </div>
                                  <div class="form-item__text-field  form-item form-item__text-field-tel">
                                    <input id="tel" type="text" name="tel" placeholder="">
                                    <label for="tel">Номер телефона</label>
                                    <button class="clear icon-close" type="button"></button>
                                  </div>
                                  <div class="form-item__select  form-item form-item__select-time-delivery">
                                    <select id="time-delivery" name="time-delivery">
                                      <option value="0">Время доставки</option>
                                      <option value="1">9:00</option>
                                      <option value="2">9:30</option>
                                      <option value="3">10:00</option>
                                      <option value="4">10:30</option>
                                      <option value="5">11:00</option>
                                      <option value="6">11:30</option>
                                      <option value="7">12:00</option>
                                      <option value="8">12:30</option>
                                      <option value="9">...</option>
                                    </select>
                                  </div>
                                  <div class="form-item__textarea undefined form-item__textarea-comment">
                                    <textarea id="comment" name="comment"></textarea>
                                    <label for="comment">Комментарий</label>
                                  </div>
            </div>
            <hr class="mx-">
            <div class="checkout-count-persones"><span><i class="icon-profile"></i>Количество персон</span>
                                  <div class="form-item__type_number  form-item__number-field-persons">
                                    <button class="btn__remove waves-effect waves-orange"><i class="icon-remove"></i></button>
                                    <input type="text" name="persons" value="2" readonly>
                                    <button class="btn__add waves-effect waves-light"><i class="icon-add"></i></button>
                                  </div>
            </div>
            <hr class="mx-">
            <div class="checkout-bonus">
              <h2>Бонусный счёт</h2>
              <div class="col-2"> 
                                    <div class="form-item__text-field  form-item form-item__text-field-bonus">
                                      <input id="bonus" type="text" name="bonus" placeholder="до 250">
                                      <button class="clear icon-close" type="button"></button>
                                    </div>
                <div class="font-item">
                  <button class="btn btn_size_lg waves-effect waves-light full-width">Списать</button>
                </div>
              </div>
              <p>Бонусами вы можете оплачивать до 30% от стоимости заказа</p>
            </div>
            <hr class="mx-">
            <div class="checkout-payment">
              <h2>Способ оплаты</h2>
                                  <div class="form-item__radio  form-item__radio-payment">
                                    <label for="payment-1">
                                      <input type="radio" id="payment-1" name="payment" checked>
                                      <div><span></span>
                                        <p>Курьеру наличными</p>
                                      </div>
                                    </label>
                                  </div>
                                  <div class="form-item__radio  form-item__radio-payment">
                                    <label for="payment-2">
                                      <input type="radio" id="payment-2" name="payment">
                                      <div><span></span>
                                        <p>Оплатить сейчас банковской картой</p>
                                      </div>
                                    </label>
                                  </div>
                                  <div class="form-item__radio  form-item__radio-payment">
                                    <label for="payment-3">
                                      <input type="radio" id="payment-3" name="payment">
                                      <div><span></span>
                                        <p>Курьеру банковской картой</p>
                                      </div>
                                    </label>
                                  </div>
            </div>
            <hr class="mx-">
            <div class="checkout-agree-order">
              <h2 class="mb">Подтверждение заказа</h2>
              <div class="tabs" role="tabs">
                <div class="tabs-list col_2"><a class="tabs-list__item" role="tab" href="#sms" aria-selected="true">SMS</a><a class="tabs-list__item" role="tab" href="#call-operator" aria-selected="false">Звонок оператора</a>
                  <div class="tabs-list__background"></div>
                </div>
                <div class="tabs-content">
                  <div class="tabs-content__element" data-tab-type="sms" aria-hidden="false">
                    <div class="col-2">
                                          <div class="form-item__text-field  form-item form-item__text-field-code">
                                            <input id="code" type="text" name="code" placeholder="">
                                            <label for="code">Код</label>
                                            <button class="clear icon-close" type="button"></button>
                                          </div>
                      <div class="form-item">
                        <button class="btn btn_size_lg waves-effect waves-light full-width">Получить код</button>
                      </div>
                    </div>
                  </div>
                  <div class="tabs-content__element" data-tab-type="call-operator" aria-hidden="true"></div>
                </div>
              </div>
            </div>
            <div class="checkout-submit bottom-action-block">
              <div class="checkout-total-sum mb-sm"><span>Итоговая сумма</span><strong>9 999 ₽</strong></div>
              <button class="btn btn_size_lg waves-effect waves-light full-width" data-modal-open="add-spices">Оформить заказ</button>
            </div>
          </main>
        </div>
      </div>
      <nav class="navbar">
        <ul>
          <li class="active"><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-menu"></i><span>Меню</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-account"></i><span>Профиль</span></a></li>
          <li class="gift"><a class="waves-effect waves-gray" href="javascript:void(0);" data-modal-open="gifts"><i class="icon-svg-gift"></i><span>Подарок</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-map"></i><span>Контакты</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-shop"><sup>1</sup></i><span>Корзина</span></a></li>
        </ul>
      </nav>
            <div class="modal" id="modal-gifts" data-title="Выберите подарок">
              <div class="add-gift-list mt-sm" data-simplebar data-simplebar-auto-hide="false" data-simplebar-force-visible="y">
                <div class="col-2 mb-xl">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-1"><img src="../../images/gifts/1.png">
                              <input type="radio" id="gift-1" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 1000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-2"><img src="../../images/gifts/2.png">
                              <input type="radio" id="gift-2" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 1500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
                <div class="col-2 mb-xl">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-3"><img src="../../images/gifts/3.png">
                              <input type="radio" id="gift-3" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 2000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-4"><img src="../../images/gifts/4.png">
                              <input type="radio" id="gift-4" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 2500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
                <div class="col-2">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-5"><img src="../../images/gifts/5.png">
                              <input type="radio" id="gift-5" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 3000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-6"><img src="../../images/gifts/6.png">
                              <input type="radio" id="gift-6" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 3500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
        <div class="modal" id="modal-add-spices" data-title="Забыли добавить специи" data-subtitle="Специи оплачиваются отдельно.">
              <div class="spices">
                <div class="spices__title">
                  <h6>Васаби, соевый соус, имбирь (140г)</h6><span>Бесплатно 1 шт.</span>
                </div>
                <div class="spices__price">60 ₽</div>
                <button class="btn btn_size_sm spices__add-cart waves-effect waves-light">В корзину</button>
                    <div class="form-item__type_number  form-item__number-field-count">
                      <button class="btn__remove waves-effect waves-orange"><i class="icon-remove"></i></button>
                      <input type="text" name="count" value="1" readonly>
                      <button class="btn__add waves-effect waves-light"><i class="icon-add"></i></button>
                    </div>
              </div>
              <div class="spices">
                <div class="spices__title">
                  <h6>Соус соевый (100г)</h6><span>Бесплатно 1 шт.</span>
                </div>
                <div class="spices__price">10 ₽</div>
                <button class="btn btn_size_sm spices__add-cart waves-effect waves-light">В корзину</button>
                    <div class="form-item__type_number  form-item__number-field-count">
                      <button class="btn__remove waves-effect waves-orange"><i class="icon-remove"></i></button>
                      <input type="text" name="count" value="1" readonly>
                      <button class="btn__add waves-effect waves-light"><i class="icon-add"></i></button>
                    </div>
              </div>
              <div class="spices">
                <div class="spices__title">
                  <h6>Имбирь (30г)</h6><span>Бесплатно 1 шт.</span>
                </div>
                <div class="spices__price">25 ₽</div>
                <button class="btn btn_size_sm spices__add-cart waves-effect waves-light">В корзину</button>
                    <div class="form-item__type_number  form-item__number-field-count">
                      <button class="btn__remove waves-effect waves-orange"><i class="icon-remove"></i></button>
                      <input type="text" name="count" value="1" readonly>
                      <button class="btn__add waves-effect waves-light"><i class="icon-add"></i></button>
                    </div>
              </div>
              <div class="spices">
                <div class="spices__title">
                  <h6>Васаби (10г)</h6><span>Бесплатно 1 шт.</span>
                </div>
                <div class="spices__price">10 ₽</div>
                <button class="btn btn_size_sm spices__add-cart waves-effect waves-light">В корзину</button>
                    <div class="form-item__type_number  form-item__number-field-count">
                      <button class="btn__remove waves-effect waves-orange"><i class="icon-remove"></i></button>
                      <input type="text" name="count" value="1" readonly>
                      <button class="btn__add waves-effect waves-light"><i class="icon-add"></i></button>
                    </div>
              </div>
          <button class="btn full-width btn_size_lg waves-effect waves-light mt-sm">Продолжить оформление</button>
        </div>
        <div class="modal" id="modal-gift-added"><img src="./../../images/treasure.png">
          <p class="mt-xs">Бесплатный подарок добавлен в корзину</p>
          <button class="btn full-width btn_size_lg mt-lg waves-effect waves-light">Продолжить</button>
        </div>
  <script type="text/javascript" src="bundle.js"></script></body>
</html>
