dist/contacts.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Контакты</title>
  <link href="main.css" rel="stylesheet"></head>
  <body>
    <div class="wrap">
      <div class="wrap-content">
<header class="header">
  <div class="header-wrap"><img class="header__logo" src="./images/logo.svg"><a class="header__select-city" href="javascript:void(0);">Южно-Сахалинск</a><a class="header__tel" href="tel:+79999999999"> <i class="icon-tel"></i></a></div>
</header>
        <div class="content container">
          <main class="contacts-page my-xl"><a class="btn btn_size_lg waves-effect waves-light full-width" href="javascript:void(0);">«Рис и Море» на карте</a>
            <div class="contacts-methods mt-xl">
              <div class="contacts__method mb"><span>Закажите роллы по телефону</span>
                <div class="contacts__action"><i class="icon-tel"></i><strong>+7 (4242) 73–00–33</strong></div>
              </div>
              <div class="contacts__method mb"><span>Напишите нам</span>
                <div class="contacts__action"><i class="icon-mail"></i><a href="mail:admin@smbs.me">admin@smbs.me</a></div>
              </div>
              <div class="contacts__method mb"><span>«Рис и Море» в соц. сетях</span>
                <div class="contacts__action"><a href="javascript:void(0);"><img src="./images/instagram.svg"></a></div>
              </div>
            </div>
            <div class="contacts-links mt-xl"><a class="contacts-link" href="javascript:void(0);">Зоны доставки</a><a class="contacts-link" href="javascript:void(0);">Доставка</a><a class="contacts-link" href="javascript:void(0);">Акции</a><a class="contacts-link" href="javascript:void(0);">Бонусная система</a><a class="contacts-link" href="javascript:void(0);">О компании</a><a class="contacts-link" href="javascript:void(0);">Оплата и возрат</a></div>
          </main>
        </div>
      </div>
      <nav class="navbar">
        <ul>
          <li class="active"><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-menu"></i><span>Меню</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-account"></i><span>Профиль</span></a></li>
          <li class="gift"><a class="waves-effect waves-gray" href="javascript:void(0);" data-modal-open="gifts"><i class="icon-svg-gift"></i><span>Подарок</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-map"></i><span>Контакты</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-shop"><sup>1</sup></i><span>Корзина</span></a></li>
        </ul>
      </nav>
            <div class="modal" id="modal-gifts" data-title="Выберите подарок">
              <div class="add-gift-list mt-sm" data-simplebar data-simplebar-auto-hide="false" data-simplebar-force-visible="y">
                <div class="col-2 mb-xl">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-1"><img src="../../images/gifts/1.png">
                              <input type="radio" id="gift-1" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 1000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-2"><img src="../../images/gifts/2.png">
                              <input type="radio" id="gift-2" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 1500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
                <div class="col-2 mb-xl">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-3"><img src="../../images/gifts/3.png">
                              <input type="radio" id="gift-3" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 2000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-4"><img src="../../images/gifts/4.png">
                              <input type="radio" id="gift-4" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 2500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
                <div class="col-2">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-5"><img src="../../images/gifts/5.png">
                              <input type="radio" id="gift-5" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 3000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-6"><img src="../../images/gifts/6.png">
                              <input type="radio" id="gift-6" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 3500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
  <script type="text/javascript" src="bundle.js"></script></body>
</html>

src/contacts.pug
include mixins/header-inner.pug

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Контакты
	body
		.wrap
			.wrap-content
				include includes/header.pug

				.content.container
					main.contacts-page.my-xl
						a.btn.btn_size_lg.waves-effect.waves-light.full-width(href="javascript:void(0);") «Рис и Море» на карте
						.contacts-methods.mt-xl
							.contacts__method.mb
								span Закажите роллы по телефону
								.contacts__action
									i.icon-tel
									strong +7 (4242) 73–00–33
							.contacts__method.mb
								span Напишите нам
								.contacts__action
									i.icon-mail
									a(href="mail:admin@smbs.me") admin@smbs.me
							.contacts__method.mb
								span «Рис и Море» в соц. сетях
								.contacts__action
									a(href="javascript:void(0);")
										img(src="./images/instagram.svg")
						.contacts-links.mt-xl
							a.contacts-link(href="javascript:void(0);") Зоны доставки
							a.contacts-link(href="javascript:void(0);") Доставка
							a.contacts-link(href="javascript:void(0);") Акции
							a.contacts-link(href="javascript:void(0);") Бонусная система
							a.contacts-link(href="javascript:void(0);") О компании
							a.contacts-link(href="javascript:void(0);") Оплата и возрат


			include includes/navbar.pug
