src/delivery-list.pug
<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Список адресов
	body
		.wrap
			.wrap-content
				include mixins/header-inner.pug
				+header-inner('Список адресов')

				.content.container
					main.delivery-list-page
						ul.menu-list.mx-
							li.menu-list__item
								.menu-list__item-wrap
									i.icon-map.t_color_red
									.menu-list__text
										h6 ул. Капитанская д. 65 кв. 98
										span Дом
									a.icon-edit(href="javascript:voud(0);")
							li.menu-list__item
								.menu-list__item-wrap
									i.icon-map.t_color_green
									.menu-list__text
										h6 ул. Навигационая д. 32 кв. 145
										span Работа
									a.icon-edit(href="javascript:voud(0);")
							li.menu-list__item
								.menu-list__item-wrap
									i.icon-map.t_color_blue
									.menu-list__text
										h6 ул. Ленина д. 48 кв. 11
										span Бабушка
									a.icon-edit(href="javascript:voud(0);")
						.bottom-action-block
							button.btn.btn_outline.btn_size_lg.waves-effect.waves-blue.full-width Добавить новый адрес

			include includes/navbar.pug

dist/delivery-list.html
<!DOCTYPE html><!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Список адресов</title>
  <link href="main.css" rel="stylesheet"></head>
  <body>
    <div class="wrap">
      <div class="wrap-content">
                <header class="header header_inner">
                  <div class="header-wrap"><a class="header__back icon-arrow-left" href="javascript:void(0);"></a>
                    <div class="header__title">Список адресов</div><a class="header__tel" href="tel:+79999999999"><i class="icon-tel"></i></a>
                  </div>
                </header>
        <div class="content container">
          <main class="delivery-list-page">
            <ul class="menu-list mx-">
              <li class="menu-list__item">
                <div class="menu-list__item-wrap"><i class="icon-map t_color_red"></i>
                  <div class="menu-list__text">
                    <h6>ул. Капитанская д. 65 кв. 98</h6><span>Дом</span>
                  </div><a class="icon-edit" href="javascript:voud(0);"></a>
                </div>
              </li>
              <li class="menu-list__item">
                <div class="menu-list__item-wrap"><i class="icon-map t_color_green"></i>
                  <div class="menu-list__text">
                    <h6>ул. Навигационая д. 32 кв. 145</h6><span>Работа</span>
                  </div><a class="icon-edit" href="javascript:voud(0);"></a>
                </div>
              </li>
              <li class="menu-list__item">
                <div class="menu-list__item-wrap"><i class="icon-map t_color_blue"></i>
                  <div class="menu-list__text">
                    <h6>ул. Ленина д. 48 кв. 11</h6><span>Бабушка</span>
                  </div><a class="icon-edit" href="javascript:voud(0);"></a>
                </div>
              </li>
            </ul>
            <div class="bottom-action-block">
              <button class="btn btn_outline btn_size_lg waves-effect waves-blue full-width">Добавить новый адрес</button>
            </div>
          </main>
        </div>
      </div>
      <nav class="navbar">
        <ul>
          <li class="active"><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-menu"></i><span>Меню</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-account"></i><span>Профиль</span></a></li>
          <li class="gift"><a class="waves-effect waves-gray" href="javascript:void(0);" data-modal-open="gifts"><i class="icon-svg-gift"></i><span>Подарок</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-map"></i><span>Контакты</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-shop"><sup>1</sup></i><span>Корзина</span></a></li>
        </ul>
      </nav>
            <div class="modal" id="modal-gifts" data-title="Выберите подарок">
              <div class="add-gift-list mt-sm" data-simplebar data-simplebar-auto-hide="false" data-simplebar-force-visible="y">
                <div class="col-2 mb-xl">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-1"><img src="../../images/gifts/1.png">
                              <input type="radio" id="gift-1" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 1000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-2"><img src="../../images/gifts/2.png">
                              <input type="radio" id="gift-2" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 1500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
                <div class="col-2 mb-xl">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-3"><img src="../../images/gifts/3.png">
                              <input type="radio" id="gift-3" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 2000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-4"><img src="../../images/gifts/4.png">
                              <input type="radio" id="gift-4" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 2500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
                <div class="col-2">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-5"><img src="../../images/gifts/5.png">
                              <input type="radio" id="gift-5" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 3000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-6"><img src="../../images/gifts/6.png">
                              <input type="radio" id="gift-6" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 3500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
  <script type="text/javascript" src="bundle.js"></script></body>
</html>
