src/loading.pug
<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Загрузка
	body
		.wrap
			.wrap-content
				.content.container
					main.loading-page.mx-
						img(src="./images/logo-white.svg")
						span.mt-xl
							| Загрузка
							i
							i
							i

dist/loading.html
<!DOCTYPE html><!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Загрузка</title>
  <link href="main.css" rel="stylesheet"></head>
  <body>
    <div class="wrap">
      <div class="wrap-content">
        <div class="content container">
          <main class="loading-page mx-"><img src="./images/logo-white.svg"><span class="mt-xl">Загрузка<i></i><i></i><i></i></span></main>
        </div>
      </div>
    </div>
  <script type="text/javascript" src="bundle.js"></script></body>
</html>
