src/order-final.pug
include mixins/header-inner.pug
include mixins/product-history.pug

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Заказ оформлен
	body
		.wrap
			.wrap-content
				+header-inner('Заказ')

				.content.container
					main.order-final-page.mt-lg
						.order-final-header.mb-lg
							h2.mb-xs Спасибо за ваш заказ!
							p Он будет обработан в ближайшее время

						.order-final-info
							.mb
								span.mb-xs Номер вашего заказа
								strong 459128
							.mb
								span.mb-xs Ожидаемое время доставки
								strong Как можно скорее
							.mb
								span.mb-xs Адрес доставки
								strong Красноярск, ул. Капитанская д. 11 кв. 30
							.mb
								span.mb-xs Способ оплаты
								strong Наличный расчёт при получении

						hr.mx-

						h3.mb Данные вашего заказа
						.order-final-basket
							+product-history('Филадельфия лайт с тобико', './images/products/1.png', 390, 25)
							+product-history('Филадельфия лайт с тобико', './images/products/2.png', 390, 25)
							+product-history('Филадельфия лайт с тобико', './images/products/3.png', 390, 25)

						hr.mx-

						.order-final-price-detail.mb-xl
							.order-final-price-detail__item
								span Товаров на
								strong 2 159 ₽
							.order-final-price-detail__item
								span Скидка
								strong -150 ₽
							.order-final-price-detail__item
								span Доставка
								strong 0 ₽

						.order-final-total.bottom-action-block
							.order-final-total__sum.mb-sm
								span Итого
								strong 9 999 ₽
							button.btn.btn_size_lg.waves-effect.waves-light.full-width Посмотреть историю заказов

			include includes/navbar.pug

dist/order-final.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Заказ оформлен</title>
  <link href="main.css" rel="stylesheet"></head>
  <body>
    <div class="wrap">
      <div class="wrap-content">
        <header class="header header_inner">
          <div class="header-wrap"><a class="header__back icon-arrow-left" href="javascript:void(0);"></a>
            <div class="header__title">Заказ</div><a class="header__tel" href="tel:+79999999999"><i class="icon-tel"></i></a>
          </div>
        </header>
        <div class="content container">
          <main class="order-final-page mt-lg">
            <div class="order-final-header mb-lg">
              <h2 class="mb-xs">Спасибо за ваш заказ!</h2>
              <p>Он будет обработан в ближайшее время</p>
            </div>
            <div class="order-final-info">
              <div class="mb"><span class="mb-xs">Номер вашего заказа</span><strong>459128</strong></div>
              <div class="mb"><span class="mb-xs">Ожидаемое время доставки</span><strong>Как можно скорее</strong></div>
              <div class="mb"><span class="mb-xs">Адрес доставки</span><strong>Красноярск, ул. Капитанская д. 11 кв. 30</strong></div>
              <div class="mb"><span class="mb-xs">Способ оплаты</span><strong>Наличный расчёт при получении</strong></div>
            </div>
            <hr class="mx-">
            <h3 class="mb">Данные вашего заказа</h3>
            <div class="order-final-basket">
              <div class="product-history"><a class="product-history__img" href="javascript:void(0);"><img src="./images/products/1.png" alt="Филадельфия лайт с тобико"></a>
                <div class="product-history-content"><a class="product-history__title" href="javascript:void(0);">Филадельфия лайт с тобико</a>
                  <div class="product-history-footer">
                    <div class="product-history__price">390 ₽</div>
                    <div class="product-history__amount">25 шт.</div>
                  </div>
                </div><a class="product-history__info icon-info-circle" href="javascript:void(0);" data-tippy-content="&lt;div class='product-props'&gt;&lt;div&gt;&lt;span&gt;Вес&lt;/span&gt;&lt;span&gt;710 г.&lt;/span&gt;&lt;/div&gt;&lt;div&gt;&lt;span&gt;Количество&lt;/span&gt;&lt;span&gt;8 шт.&lt;/span&gt;&lt;/div&gt;&lt;h6&gt;Пищевая ценность на 100г&lt;/h6&gt;&lt;div&gt;&lt;span&gt;Энерг. ценность&lt;/span&gt;&lt;span&gt;169 ккал&lt;/span&gt;&lt;/div&gt;&lt;div&gt;&lt;span&gt;Белки&lt;/span&gt;&lt;span&gt;10 г&lt;/span&gt;&lt;/div&gt;&lt;div&gt;&lt;span&gt;Жиры&lt;/span&gt;&lt;span&gt;7 г&lt;/span&gt;&lt;/div&gt;&lt;div&gt;&lt;span&gt;Углеводы&lt;/span&gt;&lt;span&gt;18 г&lt;/span&gt;&lt;/div&gt;&lt;div&gt;"></a>
              </div>
              <div class="product-history"><a class="product-history__img" href="javascript:void(0);"><img src="./images/products/2.png" alt="Филадельфия лайт с тобико"></a>
                <div class="product-history-content"><a class="product-history__title" href="javascript:void(0);">Филадельфия лайт с тобико</a>
                  <div class="product-history-footer">
                    <div class="product-history__price">390 ₽</div>
                    <div class="product-history__amount">25 шт.</div>
                  </div>
                </div><a class="product-history__info icon-info-circle" href="javascript:void(0);" data-tippy-content="&lt;div class='product-props'&gt;&lt;div&gt;&lt;span&gt;Вес&lt;/span&gt;&lt;span&gt;710 г.&lt;/span&gt;&lt;/div&gt;&lt;div&gt;&lt;span&gt;Количество&lt;/span&gt;&lt;span&gt;8 шт.&lt;/span&gt;&lt;/div&gt;&lt;h6&gt;Пищевая ценность на 100г&lt;/h6&gt;&lt;div&gt;&lt;span&gt;Энерг. ценность&lt;/span&gt;&lt;span&gt;169 ккал&lt;/span&gt;&lt;/div&gt;&lt;div&gt;&lt;span&gt;Белки&lt;/span&gt;&lt;span&gt;10 г&lt;/span&gt;&lt;/div&gt;&lt;div&gt;&lt;span&gt;Жиры&lt;/span&gt;&lt;span&gt;7 г&lt;/span&gt;&lt;/div&gt;&lt;div&gt;&lt;span&gt;Углеводы&lt;/span&gt;&lt;span&gt;18 г&lt;/span&gt;&lt;/div&gt;&lt;div&gt;"></a>
              </div>
              <div class="product-history"><a class="product-history__img" href="javascript:void(0);"><img src="./images/products/3.png" alt="Филадельфия лайт с тобико"></a>
                <div class="product-history-content"><a class="product-history__title" href="javascript:void(0);">Филадельфия лайт с тобико</a>
                  <div class="product-history-footer">
                    <div class="product-history__price">390 ₽</div>
                    <div class="product-history__amount">25 шт.</div>
                  </div>
                </div><a class="product-history__info icon-info-circle" href="javascript:void(0);" data-tippy-content="&lt;div class='product-props'&gt;&lt;div&gt;&lt;span&gt;Вес&lt;/span&gt;&lt;span&gt;710 г.&lt;/span&gt;&lt;/div&gt;&lt;div&gt;&lt;span&gt;Количество&lt;/span&gt;&lt;span&gt;8 шт.&lt;/span&gt;&lt;/div&gt;&lt;h6&gt;Пищевая ценность на 100г&lt;/h6&gt;&lt;div&gt;&lt;span&gt;Энерг. ценность&lt;/span&gt;&lt;span&gt;169 ккал&lt;/span&gt;&lt;/div&gt;&lt;div&gt;&lt;span&gt;Белки&lt;/span&gt;&lt;span&gt;10 г&lt;/span&gt;&lt;/div&gt;&lt;div&gt;&lt;span&gt;Жиры&lt;/span&gt;&lt;span&gt;7 г&lt;/span&gt;&lt;/div&gt;&lt;div&gt;&lt;span&gt;Углеводы&lt;/span&gt;&lt;span&gt;18 г&lt;/span&gt;&lt;/div&gt;&lt;div&gt;"></a>
              </div>
            </div>
            <hr class="mx-">
            <div class="order-final-price-detail mb-xl">
              <div class="order-final-price-detail__item"><span>Товаров на</span><strong>2 159 ₽</strong></div>
              <div class="order-final-price-detail__item"><span>Скидка</span><strong>-150 ₽</strong></div>
              <div class="order-final-price-detail__item"><span>Доставка</span><strong>0 ₽</strong></div>
            </div>
            <div class="order-final-total bottom-action-block">
              <div class="order-final-total__sum mb-sm"><span>Итого</span><strong>9 999 ₽</strong></div>
              <button class="btn btn_size_lg waves-effect waves-light full-width">Посмотреть историю заказов</button>
            </div>
          </main>
        </div>
      </div>
      <nav class="navbar">
        <ul>
          <li class="active"><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-menu"></i><span>Меню</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-account"></i><span>Профиль</span></a></li>
          <li class="gift"><a class="waves-effect waves-gray" href="javascript:void(0);" data-modal-open="gifts"><i class="icon-svg-gift"></i><span>Подарок</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-map"></i><span>Контакты</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-shop"><sup>1</sup></i><span>Корзина</span></a></li>
        </ul>
      </nav>
            <div class="modal" id="modal-gifts" data-title="Выберите подарок">
              <div class="add-gift-list mt-sm" data-simplebar data-simplebar-auto-hide="false" data-simplebar-force-visible="y">
                <div class="col-2 mb-xl">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-1"><img src="../../images/gifts/1.png">
                              <input type="radio" id="gift-1" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 1000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-2"><img src="../../images/gifts/2.png">
                              <input type="radio" id="gift-2" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 1500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
                <div class="col-2 mb-xl">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-3"><img src="../../images/gifts/3.png">
                              <input type="radio" id="gift-3" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 2000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-4"><img src="../../images/gifts/4.png">
                              <input type="radio" id="gift-4" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 2500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
                <div class="col-2">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-5"><img src="../../images/gifts/5.png">
                              <input type="radio" id="gift-5" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 3000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-6"><img src="../../images/gifts/6.png">
                              <input type="radio" id="gift-6" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 3500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
  <script type="text/javascript" src="bundle.js"></script></body>
</html>
