dist/product.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Цезарь темпура</title>
  <link href="main.css" rel="stylesheet"></head>
  <body>
    <div class="wrap">
      <div class="wrap-content">
<header class="header header_product">
  <div class="header-wrap"><a class="header__back icon-arrow-left" href="javascript:void(0);"></a>
    <div class="header__title">Цезарь темпура</div><a class="header__like" href="javascript:void(0);"><span>15</span><i class="icon-heart"></i></a>
  </div>
</header>
        <div class="content container">
          <main class="product-page mt mb-xl">
            <div class="product">
              <div class="product__img"><img src="./images/product-detail.png">
                <div class="product__status red">Акция</div>
              </div>
              <h1 class="product__title mt">Цезарь темпура</h1>
              <div class="product__description mt">Рис, нори, огурец, курица обжаренная, сыр сливочный, сухари «Панко», соус «Цезарь»</div>
              <ul class="product__props">
                <li>675 г.</li>
                <li>8 шт.</li>
                <li>130 ккал./100 г.</li>
              </ul>
              <div class="product__add-cart mt-lg">
                <button class="btn btn_size_lg waves-effect waves-light full-width product__btn-add-cart">В корзину</button>
                <div class="form-item__type_number  form-item__type_number_size_lg form-item__number-field-product-count">
                  <button class="btn__remove waves-effect waves-orange"><i class="icon-remove"></i></button>
                  <input type="text" name="product-count" value="1" readonly>
                  <button class="btn__add waves-effect waves-light"><i class="icon-add"></i></button>
                </div>
              </div>
              <div class="spices-list mt-xl">
                <div class="spices">
                  <div class="spices__title">
                    <h6>Васаби, соевый соус, имбирь (140г)</h6><span>Бесплатно 1 шт.</span>
                  </div>
                  <div class="spices__price">60 ₽</div>
                  <button class="btn btn_size_sm spices__add-cart waves-effect waves-light">В корзину</button>
                  <div class="form-item__type_number  form-item__number-field-count">
                    <button class="btn__remove waves-effect waves-orange"><i class="icon-remove"></i></button>
                    <input type="text" name="count" value="1" readonly>
                    <button class="btn__add waves-effect waves-light"><i class="icon-add"></i></button>
                  </div>
                </div>
                <div class="spices">
                  <div class="spices__title">
                    <h6>Соус соевый (100г)</h6><span>Бесплатно 1 шт.</span>
                  </div>
                  <div class="spices__price">10 ₽</div>
                  <button class="btn btn_size_sm spices__add-cart waves-effect waves-light">В корзину</button>
                  <div class="form-item__type_number  form-item__number-field-count">
                    <button class="btn__remove waves-effect waves-orange"><i class="icon-remove"></i></button>
                    <input type="text" name="count" value="1" readonly>
                    <button class="btn__add waves-effect waves-light"><i class="icon-add"></i></button>
                  </div>
                </div>
                <div class="spices">
                  <div class="spices__title">
                    <h6>Имбирь (30г)</h6><span>Бесплатно 1 шт.</span>
                  </div>
                  <div class="spices__price">25 ₽</div>
                  <button class="btn btn_size_sm spices__add-cart waves-effect waves-light">В корзину</button>
                  <div class="form-item__type_number  form-item__number-field-count">
                    <button class="btn__remove waves-effect waves-orange"><i class="icon-remove"></i></button>
                    <input type="text" name="count" value="1" readonly>
                    <button class="btn__add waves-effect waves-light"><i class="icon-add"></i></button>
                  </div>
                </div>
                <div class="spices">
                  <div class="spices__title">
                    <h6>Васаби (10г)</h6><span>Бесплатно 1 шт.</span>
                  </div>
                  <div class="spices__price">10 ₽</div>
                  <button class="btn btn_size_sm spices__add-cart waves-effect waves-light">В корзину</button>
                  <div class="form-item__type_number  form-item__number-field-count">
                    <button class="btn__remove waves-effect waves-orange"><i class="icon-remove"></i></button>
                    <input type="text" name="count" value="1" readonly>
                    <button class="btn__add waves-effect waves-light"><i class="icon-add"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
      <nav class="navbar">
        <ul>
          <li class="active"><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-menu"></i><span>Меню</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-account"></i><span>Профиль</span></a></li>
          <li class="gift"><a class="waves-effect waves-gray" href="javascript:void(0);" data-modal-open="gifts"><i class="icon-svg-gift"></i><span>Подарок</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-map"></i><span>Контакты</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-shop"><sup>1</sup></i><span>Корзина</span></a></li>
        </ul>
      </nav>
            <div class="modal" id="modal-gifts" data-title="Выберите подарок">
              <div class="add-gift-list mt-sm" data-simplebar data-simplebar-auto-hide="false" data-simplebar-force-visible="y">
                <div class="col-2 mb-xl">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-1"><img src="../../images/gifts/1.png">
                              <input type="radio" id="gift-1" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 1000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-2"><img src="../../images/gifts/2.png">
                              <input type="radio" id="gift-2" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 1500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
                <div class="col-2 mb-xl">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-3"><img src="../../images/gifts/3.png">
                              <input type="radio" id="gift-3" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 2000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-4"><img src="../../images/gifts/4.png">
                              <input type="radio" id="gift-4" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 2500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
                <div class="col-2">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-5"><img src="../../images/gifts/5.png">
                              <input type="radio" id="gift-5" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 3000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-6"><img src="../../images/gifts/6.png">
                              <input type="radio" id="gift-6" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 3500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
  <script type="text/javascript" src="bundle.js"></script></body>
</html>

src/product.pug
include mixins/form/number-field.pug
include mixins/spices.pug
- var items = [
-		{title: 'Васаби, соевый соус, имбирь (140г)', price: 60},
-		{title: 'Соус соевый (100г)', price: 10},
-		{title: 'Имбирь (30г)', price: 25},
-		{title: 'Васаби (10г)', price: 10},
-];

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Цезарь темпура
	body
		.wrap
			.wrap-content
				include includes/header-product.pug

				.content.container
					main.product-page.mt.mb-xl
						.product
							.product__img
								img(src="./images/product-detail.png")
								.product__status.red Акция
							h1.product__title.mt Цезарь темпура
							.product__description.mt Рис, нори, огурец, курица обжаренная, сыр сливочный, сухари «Панко», соус «Цезарь»
							ul.product__props
								li 675 г.
								li 8 шт.
								li 130 ккал./100 г.
							.product__add-cart.mt-lg
								button.btn.btn_size_lg.waves-effect.waves-light.full-width.product__btn-add-cart В корзину
								+number-field('product-count', true)

							.spices-list.mt-xl
								each item in items
									+spices(item)

			include includes/navbar.pug
