dist/profile.html
<!DOCTYPE html><!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Профиль</title>
  <link href="main.css" rel="stylesheet"></head>
  <body>
    <div class="wrap">
      <div class="wrap-content">
<header class="header">
  <div class="header-wrap"><img class="header__logo" src="./images/logo.svg"><a class="header__select-city" href="javascript:void(0);">Южно-Сахалинск</a><a class="header__tel" href="tel:+79999999999"> <i class="icon-tel"></i></a></div>
</header>
        <div class="content container">
          <main class="profile-page">
            <ul class="menu-list">
              <li class="menu-list__item">
                <div class="menu-list__item-wrap"><i class="icon-account"></i>
                  <div class="menu-list__text">
                    <h6>Профиль и номер телефона</h6><span>Владимир, +79620783770</span>
                  </div><a class="icon-edit" href="javascript:voud(0);"></a>
                </div>
              </li>
              <li class="menu-list__item">
                <div class="menu-list__item-wrap"><i class="icon-map"></i>
                  <div class="menu-list__text">
                    <h6>Адреса доставки</h6><span>Дом, Работа, Бабушка</span>
                  </div><a class="icon-edit" href="javascript:voud(0);"></a>
                </div>
              </li>
              <li class="menu-list__item">
                <div class="menu-list__item-wrap"><i class="icon-history-order"></i>
                  <div class="menu-list__text">
                    <h6>История заказов</h6>
                  </div><a class="icon-eye" href="javascript:voud(0);"></a>
                </div>
              </li>
              <li class="menu-list__item">
                <div class="menu-list__item-wrap"><i class="icon-bonus"></i>
                  <div class="menu-list__text">
                    <h6>Бонусов</h6><span>15 баллов</span>
                  </div><a class="icon-eye" href="javascript:voud(0);"></a>
                </div>
              </li>
              <li class="menu-list__item"><a class="menu-list__item-wrap" href="javascript:void(0);"><i class="icon-logout"></i>
                  <div class="menu-list__text">
                    <h6 class="t_color_red">Выйти</h6>
                  </div></a></li>
            </ul>
          </main>
        </div>
      </div>
      <nav class="navbar">
        <ul>
          <li class="active"><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-menu"></i><span>Меню</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-account"></i><span>Профиль</span></a></li>
          <li class="gift"><a class="waves-effect waves-gray" href="javascript:void(0);" data-modal-open="gifts"><i class="icon-svg-gift"></i><span>Подарок</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-map"></i><span>Контакты</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-shop"><sup>1</sup></i><span>Корзина</span></a></li>
        </ul>
      </nav>
            <div class="modal" id="modal-gifts" data-title="Выберите подарок">
              <div class="add-gift-list mt-sm" data-simplebar data-simplebar-auto-hide="false" data-simplebar-force-visible="y">
                <div class="col-2 mb-xl">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-1"><img src="../../images/gifts/1.png">
                              <input type="radio" id="gift-1" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 1000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-2"><img src="../../images/gifts/2.png">
                              <input type="radio" id="gift-2" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 1500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
                <div class="col-2 mb-xl">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-3"><img src="../../images/gifts/3.png">
                              <input type="radio" id="gift-3" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 2000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-4"><img src="../../images/gifts/4.png">
                              <input type="radio" id="gift-4" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 2500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
                <div class="col-2">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-5"><img src="../../images/gifts/5.png">
                              <input type="radio" id="gift-5" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 3000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-6"><img src="../../images/gifts/6.png">
                              <input type="radio" id="gift-6" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 3500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
  <script type="text/javascript" src="bundle.js"></script></body>
</html>

src/profile.pug
<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Профиль
	body
		.wrap
			.wrap-content
				include includes/header.pug

				.content.container
					main.profile-page
						ul.menu-list
							li.menu-list__item
								.menu-list__item-wrap
									i.icon-account
									.menu-list__text
										h6 Профиль и номер телефона
										span Владимир, +79620783770
									a.icon-edit(href="javascript:voud(0);")
							li.menu-list__item
								.menu-list__item-wrap
									i.icon-map
									.menu-list__text
										h6 Адреса доставки
										span Дом, Работа, Бабушка
									a.icon-edit(href="javascript:voud(0);")
							li.menu-list__item
								.menu-list__item-wrap
									i.icon-history-order
									.menu-list__text
										h6 История заказов
									a.icon-eye(href="javascript:voud(0);")
							li.menu-list__item
								.menu-list__item-wrap
									i.icon-bonus
									.menu-list__text
										h6 Бонусов
										span 15 баллов
									a.icon-eye(href="javascript:voud(0);")
							li.menu-list__item
								a.menu-list__item-wrap(href="javascript:void(0);")
									i.icon-logout
									.menu-list__text
										h6.t_color_red Выйти

			include includes/navbar.pug
