src/settings.pug
include mixins/header-inner.pug
include mixins/form/switch.pug

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Настройки
	body
		.wrap
			.wrap-content
				+header-inner('Настройки')

				.content.container
					main.settings-page.mx-
						.content
							main.profile-page
								ul.menu-list
									li.menu-list__item
										.menu-list__item-wrap
											i.icon-tel
											.menu-list__text
												h6 Номер телефона
												span +7 962 078 37 70
											a.icon-edit(href="javascript:voud(0);")
									li.menu-list__item
										.menu-list__item-wrap
											i.icon-profile
											.menu-list__text
												h6 Имя
												span Ваше имя
											a.icon-edit(href="javascript:voud(0);")
									li.menu-list__item
										.menu-list__item-wrap
											i.icon-mail
											.menu-list__text
												h6 Эл. почта
												span example@mail.com
											a.icon-edit(href="javascript:voud(0);")
									li.menu-list__item
										.menu-list__item-wrap
											i.icon-cake
											.menu-list__text
												h6 День рождения*
												span 00.00.2020
											a.icon-edit(href="javascript:voud(0);")
									li.menu-list__item
										.menu-list__item-wrap.d-flex.justify-content-space-between
											p Получать новости от «Рис и Море»
											+switch('checkbox')
								p.settings__description.container.mt *Изменить дату рождения можно один раз. В ближайшие дни от вашего дня рождения формируються индвидуальные акции

			include includes/navbar.pug

dist/settings.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Настройки</title>
  <link href="main.css" rel="stylesheet"></head>
  <body>
    <div class="wrap">
      <div class="wrap-content">
        <header class="header header_inner">
          <div class="header-wrap"><a class="header__back icon-arrow-left" href="javascript:void(0);"></a>
            <div class="header__title">Настройки</div><a class="header__tel" href="tel:+79999999999"><i class="icon-tel"></i></a>
          </div>
        </header>
        <div class="content container">
          <main class="settings-page mx-">
            <div class="content">
              <main class="profile-page">
                <ul class="menu-list">
                  <li class="menu-list__item">
                    <div class="menu-list__item-wrap"><i class="icon-tel"></i>
                      <div class="menu-list__text">
                        <h6>Номер телефона</h6><span>+7 962 078 37 70</span>
                      </div><a class="icon-edit" href="javascript:voud(0);"></a>
                    </div>
                  </li>
                  <li class="menu-list__item">
                    <div class="menu-list__item-wrap"><i class="icon-profile"></i>
                      <div class="menu-list__text">
                        <h6>Имя</h6><span>Ваше имя</span>
                      </div><a class="icon-edit" href="javascript:voud(0);"></a>
                    </div>
                  </li>
                  <li class="menu-list__item">
                    <div class="menu-list__item-wrap"><i class="icon-mail"></i>
                      <div class="menu-list__text">
                        <h6>Эл. почта</h6><span>example@mail.com</span>
                      </div><a class="icon-edit" href="javascript:voud(0);"></a>
                    </div>
                  </li>
                  <li class="menu-list__item">
                    <div class="menu-list__item-wrap"><i class="icon-cake"></i>
                      <div class="menu-list__text">
                        <h6>День рождения*</h6><span>00.00.2020</span>
                      </div><a class="icon-edit" href="javascript:voud(0);"></a>
                    </div>
                  </li>
                  <li class="menu-list__item">
                    <div class="menu-list__item-wrap d-flex justify-content-space-between">
                      <p>Получать новости от «Рис и Море»</p>
                      <div class="form-item__switch  form-item__switch-checkbox">
                        <label for="checkbox">
                          <input type="checkbox" id="checkbox" name="checkbox"><span></span>
                        </label>
                      </div>
                    </div>
                  </li>
                </ul>
                <p class="settings__description container mt">*Изменить дату рождения можно один раз. В ближайшие дни от вашего дня рождения формируються индвидуальные акции</p>
              </main>
            </div>
          </main>
        </div>
      </div>
      <nav class="navbar">
        <ul>
          <li class="active"><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-menu"></i><span>Меню</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-account"></i><span>Профиль</span></a></li>
          <li class="gift"><a class="waves-effect waves-gray" href="javascript:void(0);" data-modal-open="gifts"><i class="icon-svg-gift"></i><span>Подарок</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-map"></i><span>Контакты</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-shop"><sup>1</sup></i><span>Корзина</span></a></li>
        </ul>
      </nav>
            <div class="modal" id="modal-gifts" data-title="Выберите подарок">
              <div class="add-gift-list mt-sm" data-simplebar data-simplebar-auto-hide="false" data-simplebar-force-visible="y">
                <div class="col-2 mb-xl">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-1"><img src="../../images/gifts/1.png">
                              <input type="radio" id="gift-1" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 1000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-2"><img src="../../images/gifts/2.png">
                              <input type="radio" id="gift-2" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 1500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
                <div class="col-2 mb-xl">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-3"><img src="../../images/gifts/3.png">
                              <input type="radio" id="gift-3" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 2000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-4"><img src="../../images/gifts/4.png">
                              <input type="radio" id="gift-4" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 2500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
                <div class="col-2">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-5"><img src="../../images/gifts/5.png">
                              <input type="radio" id="gift-5" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 3000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-6"><img src="../../images/gifts/6.png">
                              <input type="radio" id="gift-6" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 3500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
  <script type="text/javascript" src="bundle.js"></script></body>
</html>
