src/settings-delivery.pug
include mixins/header-inner.pug
include mixins/form/text-field.pug
include mixins/form/color-picker.pug
include mixins/form/select.pug
include mixins/form/switch.pug
include mixins/form/textarea.pug

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Адрес доставки
	body
		.wrap
			.wrap-content
				+header-inner('Адрес доставки')

				.content.container
					main.settings-delivery-page.mt
						form
							+text-field('delivery-name', 'Название', true, true)
							+color-picker('color-picker', ['#0dafb9', '#0d93b0', '#ef9221', '#eb6013', '#ff4838', '#11b640', '#0a71ab', '#333333'], '#0dafb9', true)
							hr.mx-
							+select('city', ['Город', 'Хабаровск', 'Южно-Сахалинск'], true)
							+text-field('street', 'Улица', true, true)
							.col-2
								+text-field('house', 'Дом', true, true)
								+text-field('apartment', 'Квартира', true, true)
							.col-2
								+text-field('porch', 'Подъезд', true, true)
								+text-field('floor', 'Этаж', true, true)
							.d-flex.justify-content-space-between
								p Частный дом
								+switch('private-house')
							+textarea('comment-address', 'Комментарий к адресу', false, '', 'mt-lg')
							hr.mx-
							button.btn.btn_outline-red.btn_size_lg.waves-effect.waves-red.btn-delete-address.full-width(type='button') Удалить адрес
							.bottom-action-block
								button.btn.btn_size_lg.waves-effect.waves-light.btn-submit.full-width Сохранить изменения


			include includes/navbar.pug

dist/settings-delivery.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Адрес доставки</title>
  <link href="main.css" rel="stylesheet"></head>
  <body>
    <div class="wrap">
      <div class="wrap-content">
        <header class="header header_inner">
          <div class="header-wrap"><a class="header__back icon-arrow-left" href="javascript:void(0);"></a>
            <div class="header__title">Адрес доставки</div><a class="header__tel" href="tel:+79999999999"><i class="icon-tel"></i></a>
          </div>
        </header>
        <div class="content container">
          <main class="settings-delivery-page mt">
            <form>
              <div class="form-item__text-field  form-item form-item__text-field-delivery-name">
                <input id="delivery-name" type="text" name="delivery-name" placeholder="">
                <label for="delivery-name">Название</label>
                <button class="clear icon-close" type="button"></button>
              </div>
              <div class="form-item__color-picker form-item form-item__color-picker-color-picker">
                <input id="color-picker" type="text" name="color-picker">
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide"><a href="javascript:void(0);" data-color="#0dafb9" style="background: #0dafb9" aria-selected="true"></a></div>
                    <div class="swiper-slide"><a href="javascript:void(0);" data-color="#0d93b0" style="background: #0d93b0" aria-selected="false"></a></div>
                    <div class="swiper-slide"><a href="javascript:void(0);" data-color="#ef9221" style="background: #ef9221" aria-selected="false"></a></div>
                    <div class="swiper-slide"><a href="javascript:void(0);" data-color="#eb6013" style="background: #eb6013" aria-selected="false"></a></div>
                    <div class="swiper-slide"><a href="javascript:void(0);" data-color="#ff4838" style="background: #ff4838" aria-selected="false"></a></div>
                    <div class="swiper-slide"><a href="javascript:void(0);" data-color="#11b640" style="background: #11b640" aria-selected="false"></a></div>
                    <div class="swiper-slide"><a href="javascript:void(0);" data-color="#0a71ab" style="background: #0a71ab" aria-selected="false"></a></div>
                    <div class="swiper-slide"><a href="javascript:void(0);" data-color="#333333" style="background: #333333" aria-selected="false"></a></div>
                  </div>
                </div>
              </div>
              <hr class="mx-">
              <div class="form-item__select  form-item form-item__select-city">
                <select id="city" name="city">
                  <option value="0">Город</option>
                  <option value="1">Хабаровск</option>
                  <option value="2">Южно-Сахалинск</option>
                </select>
              </div>
              <div class="form-item__text-field  form-item form-item__text-field-street">
                <input id="street" type="text" name="street" placeholder="">
                <label for="street">Улица</label>
                <button class="clear icon-close" type="button"></button>
              </div>
              <div class="col-2">
                <div class="form-item__text-field  form-item form-item__text-field-house">
                  <input id="house" type="text" name="house" placeholder="">
                  <label for="house">Дом</label>
                  <button class="clear icon-close" type="button"></button>
                </div>
                <div class="form-item__text-field  form-item form-item__text-field-apartment">
                  <input id="apartment" type="text" name="apartment" placeholder="">
                  <label for="apartment">Квартира</label>
                  <button class="clear icon-close" type="button"></button>
                </div>
              </div>
              <div class="col-2">
                <div class="form-item__text-field  form-item form-item__text-field-porch">
                  <input id="porch" type="text" name="porch" placeholder="">
                  <label for="porch">Подъезд</label>
                  <button class="clear icon-close" type="button"></button>
                </div>
                <div class="form-item__text-field  form-item form-item__text-field-floor">
                  <input id="floor" type="text" name="floor" placeholder="">
                  <label for="floor">Этаж</label>
                  <button class="clear icon-close" type="button"></button>
                </div>
              </div>
              <div class="d-flex justify-content-space-between">
                <p>Частный дом</p>
                <div class="form-item__switch  form-item__switch-private-house">
                  <label for="private-house">
                    <input type="checkbox" id="private-house" name="private-house"><span></span>
                  </label>
                </div>
              </div>
              <div class="form-item__textarea mt-lg form-item__textarea-comment-address">
                <textarea id="comment-address" name="comment-address"></textarea>
                <label for="comment-address">Комментарий к адресу</label>
              </div>
              <hr class="mx-">
              <button class="btn btn_outline-red btn_size_lg waves-effect waves-red btn-delete-address full-width" type="button">Удалить адрес</button>
              <div class="bottom-action-block">
                <button class="btn btn_size_lg waves-effect waves-light btn-submit full-width">Сохранить изменения</button>
              </div>
            </form>
          </main>
        </div>
      </div>
      <nav class="navbar">
        <ul>
          <li class="active"><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-menu"></i><span>Меню</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-account"></i><span>Профиль</span></a></li>
          <li class="gift"><a class="waves-effect waves-gray" href="javascript:void(0);" data-modal-open="gifts"><i class="icon-svg-gift"></i><span>Подарок</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-map"></i><span>Контакты</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-shop"><sup>1</sup></i><span>Корзина</span></a></li>
        </ul>
      </nav>
            <div class="modal" id="modal-gifts" data-title="Выберите подарок">
              <div class="add-gift-list mt-sm" data-simplebar data-simplebar-auto-hide="false" data-simplebar-force-visible="y">
                <div class="col-2 mb-xl">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-1"><img src="../../images/gifts/1.png">
                              <input type="radio" id="gift-1" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 1000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-2"><img src="../../images/gifts/2.png">
                              <input type="radio" id="gift-2" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 1500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
                <div class="col-2 mb-xl">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-3"><img src="../../images/gifts/3.png">
                              <input type="radio" id="gift-3" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 2000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-4"><img src="../../images/gifts/4.png">
                              <input type="radio" id="gift-4" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 2500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
                <div class="col-2">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-5"><img src="../../images/gifts/5.png">
                              <input type="radio" id="gift-5" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 3000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-6"><img src="../../images/gifts/6.png">
                              <input type="radio" id="gift-6" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 3500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
  <script type="text/javascript" src="bundle.js"></script></body>
</html>
