dist/sign-in.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Авторизация</title>
  <link href="main.css" rel="stylesheet"></head>
  <body>
    <div class="wrap">
      <div class="wrap-content">
<header class="header">
  <div class="header-wrap"><img class="header__logo" src="./images/logo.svg"><a class="header__select-city" href="javascript:void(0);">Южно-Сахалинск</a><a class="header__tel" href="tel:+79999999999"> <i class="icon-tel"></i></a></div>
</header>
        <div class="content container">
          <main class="sign-in-page">
            <h1 class="text-center mb-xl">Авторизация</h1>
            <form class="sign-in__form">
              <div class="form-item__text-field  form-item form-item__text-field-tel">
                <input id="tel" type="text" name="tel" placeholder="">
                <label for="tel">Номер телефона</label>
                <button class="clear icon-close" type="button"></button>
              </div>
              <div class="col-2 get-sms-code">
                <div class="form-item__text-field  form-item form-item__text-field-sms-code">
                  <input id="sms-code" type="text" name="sms-code" placeholder="">
                  <label for="sms-code">Код</label>
                  <button class="clear icon-close" type="button"></button>
                </div>
                <div class="form-item">
                  <button class="btn btn_outline waves-effect waves-blue btn_size_lg full-width" type="button">Получить код</button>
                </div>
              </div>
              <button class="btn btn_size_lg waves-effect waves-light full-width">Войти</button>
            </form>
          </main>
        </div>
      </div>
      <nav class="navbar">
        <ul>
          <li class="active"><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-menu"></i><span>Меню</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-account"></i><span>Профиль</span></a></li>
          <li class="gift"><a class="waves-effect waves-gray" href="javascript:void(0);" data-modal-open="gifts"><i class="icon-svg-gift"></i><span>Подарок</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-map"></i><span>Контакты</span></a></li>
          <li><a class="waves-effect waves-gray" href="javascript:void(0);"><i class="icon-shop"><sup>1</sup></i><span>Корзина</span></a></li>
        </ul>
      </nav>
            <div class="modal" id="modal-gifts" data-title="Выберите подарок">
              <div class="add-gift-list mt-sm" data-simplebar data-simplebar-auto-hide="false" data-simplebar-force-visible="y">
                <div class="col-2 mb-xl">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-1"><img src="../../images/gifts/1.png">
                              <input type="radio" id="gift-1" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 1000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-2"><img src="../../images/gifts/2.png">
                              <input type="radio" id="gift-2" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 1500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
                <div class="col-2 mb-xl">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-3"><img src="../../images/gifts/3.png">
                              <input type="radio" id="gift-3" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 2000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-4"><img src="../../images/gifts/4.png">
                              <input type="radio" id="gift-4" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 2500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
                <div class="col-2">
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-5"><img src="../../images/gifts/5.png">
                              <input type="radio" id="gift-5" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 3000 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                  <div>
                          <div class="form-item__radio  form-item form-item__radio-gift">
                            <label for="gift-6"><img src="../../images/gifts/6.png">
                              <input type="radio" id="gift-6" name="gift">
                              <div><span></span>
                                <p>Цезарь ролл подарок <sub>От 3500 руб.</sub></p>
                              </div>
                            </label>
                          </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
  <script type="text/javascript" src="bundle.js"></script></body>
</html>

src/sign-in.pug
include mixins/form/text-field.pug

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Авторизация
	body
		.wrap
			.wrap-content
				include includes/header.pug

				.content.container
					main.sign-in-page
						h1.text-center.mb-xl Авторизация
						form.sign-in__form
							+text-field('tel', 'Номер телефона', true, true)
							.col-2.get-sms-code
								+text-field('sms-code', 'Код', true, true)
								.form-item
									button.btn.btn_outline.waves-effect.waves-blue.btn_size_lg.full-width(type='button') Получить код
							button.btn.btn_size_lg.waves-effect.waves-light.full-width Войти

			include includes/navbar.pug
